<?xml version="1.0" encoding="UTF-8"?>
<suite name="samplesTestSuite" parallel="tests"
	thread-count="10">
	<tests>
		<test name="Firefox" preserve-order="true" parallel="classes"
			thread-count="1">
			<parameter name="browser" value="firefox" />
			<parameter name="node" value="http://localhost:5555/wd/hub" />
			<classes>
				<class name="com.qburst.samples.tests.GmailLogin" />
			</classes>
		</test>
	</tests>
</suite>
